/* Microbeats Custom Styles */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "skolar", Georgia, serif;
  font-size: 100%;
  line-height: 1.5;
  font-weight: 400;
}


h1, h2 {
  font-weight: 400;
  line-height: 1.25;
}

h1, .large {
  font-size: 2rem;
  line-height: 1.25;
  margin-top: .5rem;
}

h2, .medium {
  font-size: 1.5rem;
  margin-top: .5rem;
}

h1+h2, h1+p, h2+p, h3+p { margin-top: 0; }

h3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 1em;
}

p {
  font-size: 1.125rem;
  margin-top: 1em;
}

small, .small {
  font-size: .875rem;
  margin-top: 1em;
}

strong {
  font-weight: 700;
}

    @media screen and (min-width: 480px) {
      h1, .large { font-size: 3rem; }
      h2, .medium { font-size: 1.75rem; }
    }
    
    @media screen and (min-width: 640px) {
      h1, .large { font-size: 4rem; }
      h2, .medium { font-size: 2rem; }
      h3, p, strong { font-size: 1.25rem; }
      small, .small { font-size: 1rem; } 
    }


body {
  color: #444;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #069;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

header {
  display: block;
  width: 100%;
  padding: 4rem 0;
  margin-bottom: 3rem; 
  color: #fff;
  background-image: url('/images/desk.jpg');
  background-size: cover;
  background-position: center center;
  
}

header div#header-title {
  width: 90%;
  padding: 0 5%;
  text-align: left;
}

header a#logo {
  display: block;
  height: 9rem;
  color: #fff;
}

header a#logo:hover {
  color: #fff;
}

header #logo p,
header #logo h1 {
  line-height: 1;
  margin-left: 10rem;
}

header #logo h1 {
  padding-top: 1.75rem;
}


header div#header-title img {
  width: 9rem;
  height: 9rem;
  margin-right: 1rem;
  float: left;
}


#content {
  width: 90%;
  margin: 0 5%;
}

.post {
  margin-bottom: 4rem;
}

.entry-meta {
  line-height: 1;
  margin-bottom: 0;
  color: #444;
}

.post h1 {
  line-height: 1;
  margin-bottom: 1rem;
}

.navigation {
  display: block;
  min-height: 3rem;
  line-height: 3rem;
  margin-bottom: 3rem;
}

.navigation ul {
  list-style: none;
}

.navigation ul:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

.navigation ul li {
  display: block;
  float: left;
}

.navigation ul li span.current {

}

.navigation ul li span.current,
.navigation ul li a {
  display: inline-block;
  min-width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 0.125rem;
  text-align: center;
  margin: 0 0 0.25rem 0;
}

.navigation ul li a {
  color: #444;
}

.navigation ul li span,
.navigation ul li span {
  color: #bbb;
}

.navigation ul li a.next,
.navigation ul li a.prev,
.navigation ul li span.next,
.navigation ul li span.prev {
  padding: 0 1rem;
/*   width: 7rem; */
  text-align: left;
}

.navigation ul li span.current {
  background: #bbb;
  color: #fff;
}

.navigation ul li a:hover {
  background: #f6f6f6;
  color: #069;
}

div.nav-previous {
  float: right;
}

.sitefooter {
  display: block;
  width: 90%;
  padding: 2rem 5%;
  margin-top: 2rem;
  color: #bbb;
  background: #fcfcfc;
}

.sitefooter a {
  color: #bbb;
  margin-right: 2rem;
  line-height: 2rem;
}
.sitefooter a:hover {
  color: #069; 
}

.sitefooter a.btn {
  color: #fff;
}

.btn {
  display: inline-block;
  line-height: 2rem;
  color: #fff;
  background: #0bf;
  border-radius: 0.125rem;
  padding: 0 1rem;
  margin: .5rem 0;
}

.sc {
  background: #f8640f;
}

.colophon {
  margin-top: 0;
}


    /* Mobile Response */
        
    @media screen and (max-width: 640px) {

        header {
          height: 5rem;
          padding: 1.5rem 0;
          margin-bottom: 2rem;
        }
        
        header a#logo {
          height: 5rem;
        }              
                      
        header #logo p,
        header #logo h1 {
          margin-left: 4rem;
        }
        
        header #logo h1 {
          padding-top: 0.5rem;
        }
                      
        header #logo p {
          font-size: 1rem;
        }
        
        header div#header-title img {
          width: 5rem;
          height: 5rem;
        }
   
        footer.sitefooter a {
          display: block;
          width: 100%;
          line-height: 2rem;
          height: 2rem;
          padding-top: .5rem;
          padding-bottom: .5rem
        }
        
        .sitefooter .btn {
          text-align: center;
          width: 90%;
          padding: 0 5%;
        }

    }
    
    @media screen and (max-width: 480px) {
        header {
          height: 3rem;
        }
        
        header a#logo {
          height: 3rem;
        }
        
        header div#header-title img {
          width: 3rem;
          height: 3rem;
        }
        
        header #logo h1 {
          padding-top: 0;
        }
    }

    
    
/* 

        Styles for Custom SC Player for Microbeats

*/

.sc-player {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.sc-info,
.sc-artwork-list,
.sc-trackslist,
.sc-info-toggle {
  display: none;
}


/* 
        Play/Pause Button
*/

.sc-play, .sc-pause {
  float: left;
  color: #fff;
  height: 20px;
  width: 20px;
  padding: 14px;
  border-radius: 4px;
  background-color: #bbb;
  margin-top: 8px;
}

.sc-play img, .sc-pause img {
  display: block;
  width: 20px;
  height: 20px;
}

.sc-play img {
  margin-left: 2px;
}

.sc-play:hover, .sc-pause:hover {
  background-color: #aaa;
}

.sc-play:active, .sc-pause:active {
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.6);
}

.sc-pause { display: none; }
.playing .sc-play { display: none; }
.playing .sc-pause { display: block; }


/*
        Scrubber
*/

.sc-scrubber {
  margin-left: 64px;
  position: relative;
}

.sc-scrubber .sc-time-span {
  height: 64px;
  background-color: #bbb;
  border-right: 1px solid #fff;
}

.sc-scrubber .sc-buffer,
.sc-scrubber .sc-played,
.sc-scrubber .sc-waveform-container {
  height: 64px;
  position: absolute;
  top: 0;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played {
  width: 0;
}

.sc-scrubber .sc-waveform-container {
  width: 100%;
  z-index: 1000;
}

.sc-scrubber .sc-waveform-container img {
  display: block;
  height: 64px;
  width: 100%;
  -webkit-filter: contrast(200%);
}

.sc-scrubber .sc-buffer {
  background-color: #999;
}

.sc-scrubber .sc-played {
  background-color: #0ae;
  background-image: -webkit-linear-gradient(#0bf,#09c);
  opacity: 0.3;
  
}

.playing .sc-scrubber .sc-played {
  opacity: 1;
  border-right: 1px solid #6df;
}

.sc-time-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2000;
  color: #444;
  background: #fff;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 2px;
  opacity: 0.5;
}

