
.progress-blue {
  background-color: var(--darken-1);
  border: 0;
}

.progress-blue::-webkit-progress-bar {
  background-color: var(--darken-1);
}

.progress-blue::-webkit-progress-value {
  background-color: var(--blue);
}

.progress-blue::-moz-progress-bar {
  background-color: var(--blue);
}

