<!doctype html>
<html lang="en" ng-app="microbeats">
<head>
  <meta charset="utf-8">
  <title>Microbeats</title>
  <meta name="description" content="Beats created in under an hour by Jxnblk">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="http://microbeats.cc/favicon.png" />
  <link rel="apple-touch-icon-precomposed" href="http://microbeats.cc/apple-touch-icon.png" />
  <link rel="stylesheet" href="style.css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
  <script type="text/javascript" src="http://use.typekit.net/bds4kkt.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body ng-controller="MainCtrl">

  <header class="header overhide txtcen bg-wht pt-5 pr1 pl1 borbo bor-ltgry">
      
      <h1 ng-hide="player.tracks" class="reg">Microbeats</h1>
      <!-- <p>Beats created in under an hour</p> -->
      <h1 ng-show="player.tracks" class="reg truncate" ng-cloak>{{player.tracks[player.i].title}}</h1>

      <div class="txtcen overhide">
        <div class="overhide dib wi-auto">
          <a href="" ng-click="player.previous()" class="fl lh4 pl1 pr1 mr2 maxhi4 txtcen link-dark no-tap-highlight"><i class="icon icon-previous db"></i></a>
          <a href="" ng-click="player.play(tracks, player.i)" class="fl sq4 lh4 txtcen link-dark no-tap-highlight" ng-hide="player.playing"><i class="icon icon-play h3 lh4 db anim-pop-in"></i></a>
          <a href="" ng-click="player.pause(player.playing)" class="fl sq4 lh4 txtcen link-dark no-tap-highlight" ng-show="player.playing"><i class="icon icon-pause h3 lh4 db anim-pop-in"></i></a>
          <a href="" ng-click="player.next()" class="fl lh4 pl1 pr1 ml2 maxhi4 txtcen link-dark no-tap-highlight"><i class="icon icon-skip db"></i></a>
        </div>
      </div>

      <div class="posrel maxwi3 minhi3 wrap hide-short" ng-controller="ScrubberCtrl">
        <div class="posabs top0 right0 bottom0 left0 mb2 bg-ltgry"></div>
        <div class="posabs top0 bottom0 left0 mb2 bg-ltgry" style="width: {{currentBufferPercentage}}%"></div>
        <div class="posabs top0 bottom0 left0 mb2 bg-mdgry" style="width: {{currentTimePercentage}}%"></div>
        <div class="posabs fill z2 no-tap-highlight" ng-click="seekTo($event)"></div>
        <div class="posabs left0 bottom0 pb-5 small mdgry">{{currentTimeMS | playTime}}</div>
        <div class="posabs right0 bottom0 pb-5 small mdgry">{{durationMS | playTime}}</div>
      </div>

  </header>

  <div class="scroll-area">

    <div class="maxwi3 wrap pr1 pl1">
      <ul class="list-style-none">
        <!-- <li class="pt1 borbo bor-ltgry">
          <input type="text" placeholder="search" class="input wi100 borbox bor-ltgry" ng-model="query" />
        </li> -->
        <li ng-repeat="track in tracks | filter:query" class="posrel borbo bor-ltgry" ng-cloak>
          <span id="{{track.permalink}}" class="offset-link"></span>
          <a href="" ng-click="player.play(tracks, $index)" class="posrel db pt-5 pb-5"ng-class="{'dkgry': player.playing.id != track.id && player.paused.id != track.id}">
            <p class="small mdgry">{{track.created_at | dateSimple}}</p>
            <h2 class="p reg truncate pr1">{{track.title}}</h2>
            <a ng-href="{{track.permalink_url}}" target="_blank" class="posabs top0 right0 bottom0 db lh3 pt-5 pr1 pb-5 pl1 mdgry">&raquo;</a>
          </a>
          
        </li>
      </ul>
    </div>

    <footer class="pt2 pr1 pb2 pl1 maxwi3 wrap" ng-show="tracks">
      <p class="small mdgry">Microbeats is an experiment in music production emphasizing quantity over quality. All loops are created by Jxnblk in under an hour and not mixed down or mastered.</p>
      <p><a href="http://jxnblk.com" class="small mdgry mr1">Created by Jxnblk</a> <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" class="small mdgry mr1">Licensed under Creative Commons</a> <a href="http://soundcloud.com/jxnblk" class="small mdgry mr1">SoundCloud</a></p>
    </footer>

  </div>


  <!-- MediaTemple -->
  <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script> -->
  <script src="js/lib/moment.min.js"></script>
  <script src="js/lib/smoothscroll.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
</body>
</html>
