<!DOCTYPE html> 
<html lang="en"> 
<head>
	<meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{site.name}}</title>
  <meta name="author" content="{{site.author}}">
  <meta name="description" content="{{site.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{site.url}}/css/microbeats.css">
  
  <link rel="icon" href="http://microbeats.cc/favicon.png" />
  <link rel="apple-touch-icon-precomposed" href="http://microbeats.cc/apple-touch-icon.png" />
  
  <script type="text/javascript" src="//use.typekit.net/bds4kkt.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>

<body>
