<ul class="social">
  {% if site.github %}
    <li class="github">
    <a href="http://github.com/{{site.github}}" title="{{site.github}} on Github">Github</a>
    </li>
  {% endif %}
  {% if site.twitter %}
    <li class="twitter">
      <a href="http://twitter.com/{{site.twitter}}" title="Follow on Twitter">@{{site.twitter}}</a>
    </li>
  {% endif %}
  {% if site.dribbble %}
    <li class="dribbble">
    <a href="http://dribbble.com/{{site.dribbble}}" title="Follow on Dribbble">Dribbble</a>
    </li>
  {% endif %}
  {% if site.cargocollective %}
    <li class="cargo">
      <a href="http://cargocollective.com/{{site.cargocollective}}" title="Cargo Collective Portfolio">
        Cargo Collective
      </a>
    </li>
  {% endif %}
  {% if site.tumblr %}
    <li class="tumblr">
      <a href="http://tumblr.com/{{site.tumblr}}" title="Tumblr Blog">
        Tumblr
      </a>
    </li>
  {% endif %}
  {% if site.instagram %}
    <li class="instagram">
      <a href="http://instagr.am/{{site.instagram}}" title="Instagramming">Instagram</a>
    </li>
  {% endif %}
    {% if site.soundcloud %}
      <li class="soundcloud">
      <a href="http://soundcloud.com" title="{{site.soundcloud}} on Soundcloud">Sound Cloud</a>
      </li>
    {% endif %}
    {% if site.flickr %}
      <li class="flickr">
      <a href="http://flickr.com/photos/{{site.flickr}}" title="Flickr">Flickr</a>
      </li>
    {% endif %}
</ul>
