* {
  margin: 0;
  padding: 0;
}


.single-column {
  margin:0 auto;
  padding:1em 5%;
  width:90%;

}

@mixin breakpoint($viewport-width) {
  @if $viewport-width == one-hand {
    @media screen and (min-width:100px) and (max-width: 479px) { 
      @content; 
    }  
  }
}

