// The internet is run on paragraphs and links. Let people see them please.

body {
  font-family: 'Skolar', Georgia, serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-weight:400;
}

// I mean it's not that big.

h1,.h2,.h3,.h4,.h5,.h6 {
  margin-top:0.5rem;
}

h1,.h1 {
  font-size:$type-1;
}

h2,.h2 {
  font-size:$type-2;
}

h3,.h3 {
  font-size:$type-3;
}


p {
  // Because 20px body copy is the new Black
  font-size:$type-4;
  line-height:$copy-line-height;
  + p { 
    //text-indent:1em; 
    margin-top:1em;
  }
}

.post {
   h1 {
    font-size:$type-2;
    @include breakpoint(one-hand) {
        font-size:$type-3;
    }
  }
  footer {
    color:$grey-light;
  }
}

.h1-r {
  @include breakpoint(one-hand) {
    font-size:$type-2; 
  }
}

// Uh you don't need to read this stuff. Let's make it small.
.meta {
  font-size:$type-4; 
}


blockquote {
  padding:1em 0 1.75em 0;
  font-style:italic;
  p {
    font-size:$type-3;
  }
  footer,footer a {
    font-size:$type-4;
    line-height:2;
    text-decoration:none;
    color:#999;
  }
}

em {
  font-style:italic;
}


date {
  color:$grey-medium;
}
